/* ==========================================================================
   IMPORT GOOGLE FONTS
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
@import url("http://fonts.cdnfonts.com/css/justice-league");
@import url('http://fonts.cdnfonts.com/css/origin-tech-demo');
@import url('http://fonts.cdnfonts.com/css/batman-forever');
@import url('http://fonts.cdnfonts.com/css/origin-tech-demo');
/* ==========================================================================
   GENERAL
   ========================================================================== */
body {
  font-family: 'Origin Tech Demo';
  color: #a0a6ad;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Origin Tech Demo';
  font-style: normal;
  font-weight: normal;
  src: local('Origin Tech Demo'), url('../fonts/OriginTech.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'BatmanForeverOutline';
    font-style: normal;
    font-weight: normal;
    src: local('BatmanForeverOutline'), url('../fonts/batmfo__.woff') format('woff');
    }
    

  @font-face {
  font-family: 'BatmanForeverAlternate';
  font-style: normal;
  font-weight: normal;
  src: local('BatmanForeverAlternate'), url('../fonts/batmfa__.woff') format('woff');
  }

html {
  overflow-x: hidden;
}

p {
  font-size: 14px;
  color: #5e629c;
  line-height: 26px;
  margin-bottom: 0;
}

a:hover,
a:focus {
  color: #000;
}

a {
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4 {
  font-family: 'Origin Tech Demo';
  font-size: 40px;
  font-weight: 400;
  color: #151948;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fff;
}

.bg-transparent {
  background: transparent !important;
}

.bg-defult {
  background: #000080 !important;
}

/* ==========================================================================
   Section Title
   ========================================================================== */
.section {
  padding: 50px 0px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.section--er {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.section-header .section-title {
  font-size: 35px;
  margin-bottom: 12px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
}

.section-header .workshop-subhead p,
.section-header .prizes-subhead p,
.section-header .judgespeakers-subhead p,
.section-header .sponsors-subhead p,
.section-header .community-subhead p {
  font-family: 'Origin Tech Demo';
  font-size: 20px;
}

.section-header .desc-text p {
  font-size: 35px;
  color: #5e629c;
  line-height: 26px;
  margin-bottom: 0;
}

.section-header .desc-text2 p {
  font-size: 15px;
  color: #5e629c;
  line-height: 26px;
  margin-bottom: 0;
}

.community {
  border: 1px solid #ddd;
  position: relative;
  padding: 10px;
  box-shadow: 0 0 20px #151948;
  border: 0px solid #151948;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 4px;
  font-family: 'Origin Tech Demo';
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.btn-common {
  background-color: #3ecf8e;
  position: relative;
  z-index: 1;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  width: 160px;
  height: 50px;
  padding: 14px 15px;
}

.btn-common:hover {
  color: #fff;
  transform: translateY(-2px);
}

.btn-light-bg {
  background-color: #ff704f;
}

.btn-border {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: transparent;
  border-color: #3ecf8e;
  color: #3ecf8e;
  width: 160px;
  height: 50px;
  padding: 14px 15px;
}

.btn-border:hover {
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  transform: translateY(-2px);
}

.btn-border-filled {
  cursor: pointer;
  background-color: #0077ff;
  border: 2px solid #0077ff;
  color: #fff;
  width: 180px;
  height: 50px;
  padding: 15px 15px;
}

.btn-border-filled:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  transform: translateY(-2px);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  color: #3c9cfd;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px;
}

.btn-rm i {
  vertical-align: middle;
}

.btn-singin {
  background: #7fc9fb;
  color: #fff;
  padding: 10px 23px;
  margin-left: 30px;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-singin:hover,
.btn-singin:active,
.btn-singin:focus {
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17);
}

.btn-light-singin:hover,
.btn-light-singin:active,
.btn-light-singin:focus {
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17);
}

.btn-apple {
  border-width: 2px;
  border-color: #3c96ff;
  border-style: solid;
  background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btn-apple i {
  background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-apple:hover,
.btn-apple:active,
.btn-apple:focus {
  background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

button:focus {
  outline: none !important;
}

.btn-border-fill {
  background: #fff;
  border-color: #fff;
  color: #3c9cfd;
}

.btn-subtitle {
  color: #191c1e;
  font-family: 'Origin Tech Demo';
  background: #dbecff;
  text-align: center;
  border-radius: 30px;
  padding: 6px 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
}

.clear {
  clear: both;
}

.mt {
  margin-top: 80px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-70 {
  padding-top: 70px;
}

.mb-50 {
  margin-bottom: 50px;
}

.padding-0 {
  padding: 0;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-70 {
  padding-left: 70px;
}

.pr-70 {
  padding-right: 70px;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #2BAAFF;
}

#loader-1:before {
  z-index: 100;
  animation: spin 2s infinite;
}

#loader-1:after {
  border: 7px solid #fafafa;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ========================================================================== 
   Scroll To Up 
   ========================================================================== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background: #000080;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  z-index: 9999999;
}

.back-to-top i {
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ==========================================================================
   Navbar Style
   ========================================================================== */
.logo-menu a {
  font-size: 20px;
  color: #fff;
}

.menu-bg {
  background: #00405d !important;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-bg .menu-button {
  top: 0;
}

.menu-bg .menu-button:hover {
  cursor: pointer;
  color: #3c9cfd;
}

.menu-bg .logo-menu a {
  color: #3c9cfd;
}

.menu-bg .navbar-nav .nav-link {
  color: #ffffff !important;
}

.menu-bg .navbar-nav .nav-link:hover {
  color: #ffffff !important;
}

.menu-bg .navbar-nav .active {
  color: #ffffff !important;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
  padding: 8px 0px;
  margin-left: 26px;
  letter-spacing: 3px;
  font-weight: 700;
  font-family: "OriginTech", sans-serif;
  position: relative;
  font-weight: 500;
}

.navbar-expand-md .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-brand {
  color: #fff;
}

.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {
  color: #ffffff;
}

.navbar-expand-md .navbar-nav .active>.nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active:before,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open>.nav-link {
  color: #ffffff;
}

.navbar-expand-md .navbar-toggler {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  float: right;
}

.navbar-expand-md .navbar-toggler i {
  color: #fff !important;
}

.navbar-expand-md .navbar-toggler:focus {
  outline: none;
}

/* ==========================================================================
   Hero Area
   ========================================================================== */
#home {
  height: 100%;
}

.hero-area {
  background:linear-gradient(#0d6aac,#2169a3,#2f74c8,#50a8ef);
}

.hero-area .contents {
  padding: 220px 0;
}

.hero-area .contents h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 20px;
  margin-bottom: 15px;
}

.hero-area .contents p {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

.hero-area .contents img {
  width: 150px;
}

.hero-area .contents .btn {
  text-transform: uppercase;
  padding: 15px 15px;
  border-radius: 20px;
  background-color: #00405d;

}

.hero-area .contents .btn-border {
  border: 1px solid #fff;
  color: #000838 !important;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

  padding: 15px 15px;
  background: #fff;
}

.hero-area .contents .btn-border:hover {
  background: #fff;
  color: #3ecf8e;
}

.hero-area .intro-img {
  padding: 180px 0 0px;
}

.hero-area .intro-img img {
  display: block;
  height: auto;
  max-width: 100%;
}

.date {
  padding: 10px;
  color: #9e9e9e;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
}

/* ==========================================================================
   About 
   ========================================================================== */
#about {
  padding-bottom: 75px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media screen and (min-width:1150px) {
  
  #about img  {
    width: auto;
    height: 300px;
  }
  }


@media screen and (max-width:1100px) {
  
  #about img  {
    width: auto;
    height: 250px;
  }
  }

@media screen and (max-width:500px) {
  
#about img  {
  width: auto;
  height: 200px;
}
}

/* ==========================================================================
   track section
   ========================================================================== */

#services {
  background: #1D3557 !important;
  text-align: center;
}

#services .card {
  background: linear-gradient(90deg, #00144b, #004557);
  font-family: Arial, Helvetica, sans-serif;
}

#services .card:hover {
  box-shadow: 0 0 15px #fff;
  border: 2px solid #fff;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#services .card img {
  border: 3px solid #fff;
  box-shadow: 15px 0px 20px #ffffff56;
  width: 100%;
}

@media screen and (max-width: 800px) {
  #services .card img {
    border: 3px solid #fff;
    box-shadow: 15px 0px 20px #ffffff56;
    width: 50%;
  }
}

#services .card .card-title {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
}

#services .card .card-text {
  color: #d1d1d1;
  font-size: 15px;
}

/* ===========================================================
  Sessions and workshops
  ============================================================ */



.post-slide {
  margin: 0 10px;
  height: 280px;
  border: 5px solid #2BAAFF;
  border-radius: 2%;
  height: 300px;
  box-shadow: 0px 10px 10px 0px #000;
  cursor: grab;
}

.post-slide .post-img {
  position: relative;
  overflow: hidden;
}
.post-slide .post-review {
  padding: 35px 20px 25px;
  background: #fff;
  position: relative;
}

.post-slide .icons {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  right: 10px;
  overflow: hidden;
}

.post-slide .icons img {
  width: 100%;
  height: auto;
}

.post-slide .post-title {
  margin: 0 0 05px 0;
}

.post-slide .post-title a {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #2BAAFF;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.30s linear 0s;
}

.post-slide .post-title a:hover {
  text-decoration: none;
  color: #888;
}

.post-slide .post-description {
  color: #555;
  font-size: 18px;
  ;
  line-height: 26px;
  margin-bottom: 0px;
}

zz .post-slide .read {
  font-size: 13px;
  color: #555;
  display: block;
  text-align: right;
  text-transform: uppercase;
}

.post-slide .read:hover {
  text-decoration: none;
  color: #1dcfd1;
}

.post-review img {
  margin: 0 0 10px 0;
}

.dots {
  padding: 30px;
}

.dot {
  height: 20px;
  width: 20px;
  margin: 2px;
  background-color: #4b4b4b;
  border-radius: 50%;
  display: inline-block;
}



/* ===========================================================
  Prizes
  ============================================================ */
#prizes {
  background: #2BAAFF;
}

.winner-text h1,
p {
  color: #fff;
  font-family: "Rubik";
}

.flip-card {
  background-color: transparent;
  width: 100%px;
  height: 300px;
  perspective: 1000px;
  padding: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #18273b;
  color: black;
  border-radius: 10%;
}

.fw {
  background-color: #fff;
  color: #000;
}

.flip-card-front img {
  height: 250px;
  width: 250px;
}

.flip-card-front i {
  font-size: 150px;
  padding: 20px;
}

.flip-card-front p {
  font-family: "Rubik";
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.flip-card-back {
  background: linear-gradient(95deg, #000080 40%, #25ddf5 100%);
  color: white;
  transform: rotateY(180deg);
  border-radius: 10%;
}

.flip-card-back h1 {
  padding: 20px;
  color: #fff;
  font-weight: 800;
}

.flip-card-back p {
  font-size: 15px;
  color: #ffffff;
  padding: 15px;
  font-weight: 300;
}



.serviceBox {
  color: #0077ff;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;
}

.serviceBox .title {
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 10px;
  margin: 0 0 30px;
  border: 3px solid #0077ff;
  display: inline-block;
}

.serviceBox .service-content {
  color: #fff;
  background: #0077ff;
  padding: 15px;
  height: 300px;
  margin: 0 0 40px;
  border-radius: 30px;
  border: 10px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.serviceBox .description {
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}

.service-icon img {
  height: 70px;
}

.serviceBox .service-icon {
  background: #0077ff;
  font-size: 40px;
  line-height: 100px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.serviceBox .service-icon:before,
.serviceBox .service-icon:after {
  content: "";
  background: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}

.serviceBox .service-icon:after {
  background: #0077ff;
  width: 3px;
  height: 40px;
  margin: 0 auto;
  box-shadow: none;
  border-radius: 0;
  left: 0;
  right: 0;
  top: -40px;
}

.serviceBox.blue {
  color: #0077ff;
}

.serviceBox.blue .title {
  border-color: #0077ff;
}

.serviceBox.blue .service-content,
.serviceBox.blue .service-icon,
.serviceBox.blue .service-icon:after {
  background: #0077ff;
}

.serviceBox.cyan {
  color: #0077ff;
}

.serviceBox.cyan .title {
  border-color: #0077ff;
}

.serviceBox.cyan .service-content,
.serviceBox.cyan .service-icon,
.serviceBox.cyan .service-icon:after {
  background: #0077ff;
}

.serviceBox.purple {
  color: #0077ff;
}

.serviceBox.purple .title {
  border-color: #0077ff;
}

.serviceBox.purple .service-content,
.serviceBox.purple .service-icon,
.serviceBox.purple .service-icon:after {
  background: #0077ff;
}

@media only screen and (max-width: 990px) {
  .serviceBox {
    margin: 0 0 40px;
  }
}

.btn_more {
  color: #fff;
  border: 2px solid white;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 18px 6px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: all .3s ease-in-out;
}

.btn_more:focus,
.btn_more:hover {
  color: #ffffff;
  background-color: transparent;
  border-radius: 0 15px;
  border-color: #ffffff;
}

.btn_more:before {
  content: "";
  background: linear-gradient(to right bottom, #ffffff 50%, transparent 51%);
  width: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
}

.btn_more:focus:before,
.btn_more:hover:before {
  width: 25px;
  height: 25px;
  opacity: 1;
  left: -2px;
  top: -2px;
}

.vbtn_more {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 18px 6px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: all .3s ease-in-out;
}

.vbtn_more:focus,
.vbtn_more:hover {
  color: #000000;
  background-color: transparent;
  border-radius: 0 15px;
  border-color: #000000;
}

.vbtn_more:before {
  content: "";
  background: linear-gradient(to right bottom, #000000 50%, transparent 51%);
  width: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
}

.vbtn_more:focus:before,
.vbtn_more:hover:before {
  width: 25px;
  height: 25px;
  opacity: 1;
  left: -2px;
  top: -2px;
}

@media only screen and (max-width: 767px) {
  .btn {
    margin-bottom: 20px;
  }
}


/* ===========================================================
  Judges and Mentors
  ============================================================ */

.judgespeakers-subhead p {
  color: #5e629c;
}

.judges {
  text-align: center;
  align-items: center;
}

.our-judges {
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 250px;
  align-items: center;
  border: 2px solid #2BAAFF;
  border-radius: 2%;

}

.our-judges img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out 0s;
}

.our-judges:hover img {
  transform: scale(1.2);
}

.our-judges .social_judges {
  list-style: none;
  padding: 30px 15px;
  margin: 0;
  background: #2BAAFF;
  border-bottom-right-radius: 50px;
  position: absolute;
  top: 0;
  left: -50%;
  transition: all 0.4s ease-in-out 0s;
}

.our-judges:hover .social_judges {
  left: 0;
}

.our-judges .social_judges li {
  display: block;
}

.our-judges .social_judges li a {
  display: block;
  padding: 5px 0;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease-in-out 0s;
}

.our-judges .social_judges li:first-child a {
  padding-top: 0;
}

.our-judges .social_judges li:last-child a {
  padding-bottom: 0;
}

.our-judges .social_judges li a:hover {
  color: #000;
}

.our-judges .judges-content {
  width: 100%;
  padding: 15px 10px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
}

.our-judges .title {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  margin: 0 0 5px 0;
}

.our-judges .post {
  display: block;
  font-size: 14px;
  color: #0facf3;
}

@media only screen and (max-width: 990px) {
  .our-jteam {
    margin-bottom: 30px;
  }
}

/* ===========================================================
=======
>>>>>>> b36edbed542be84dfe544e83cbf85364d57eb9ee
  sponsrs
  ============================================================ */
.img-fluid {
  border-bottom: firebrick 2px solid;
}

.community-text {
  padding: 0 0 40px 0;

}
.community1{
  padding: 30px;
}
.community-partners {
  padding: 30px 0 40px;
  margin-bottom: 40px;
  background-color: #fcfcfc;
  text-align: center;
  overflow: hidden;
  position: relative;
  border: 3px solid #005a66;
  box-shadow: 0 0 15px #00405d;
  border-radius: 50px;
}

.community-partners:hover
{
  
  box-shadow: none;

}

.community-partners .picture {
  display: inline-block;
  height: auto;
  width: 250px;
  justify-content: center;
  justify-items: center;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.picture img{
  vertical-align: middle;
  
}

/* ==========================================================================
   team section
   ========================================================================== */

@media screen and (min-width: 570px) {
  #team .team-content .name {
    font-size: 25px;
  }
}

@media screen and (min-width: 700px) {
  #team .team-content .name {
    font-size: 17px;
  }
}

@media screen and (min-width: 1100px) {
  #team .team-content .name {
    font-size: 30px;
  }
}


.our-team {
  padding: 30px 0 40px;
  margin-bottom: 40px;
  background-color: #fcfcfc;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.541);
}

.our-team:hover {
  box-shadow: 0px 0px 25px 0px rgb(255, 255, 255);
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.our-team .picture {
  display: inline-block;
  height: 175px;
  width: 175px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background: linear-gradient(95deg, #000080 40%, #25ddf5 100%);
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(95deg, #000080 40%, #25ddf5 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .name {
  font-size: 30px;
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(95deg, #000080 40%, #25ddf5 100%);
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
  border-radius: 50%;
}


/* ==========================================================================
   Footer section
   ========================================================================== */
#footer-Content {
  padding-top: 130px;
  background: #00405d;
  background-size: 100% 100%;
}

#footer-Content .copyright {
  margin-top: 125px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer-Content .copyright p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

#footer-Content ul.menu li a {
  color: #e2e2e2;
  font-size: 25px;
  font-weight: 400;
  line-height: 52px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

#footer-Content ul.menu li a:hover {
  color: #2dfbff;
  padding-left: 5px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

#madeby p {
  text-align: center;
  font-size: 20px;
  color: #f7f5ec;
}

#madeby p a {
  text-align: center;
  font-size: 22px;
  color: #ff704f;
}




.meetup{
  background:linear-gradient(180deg,#00181c,#00444d,#005a66 );
}
.meetup .container-fluid
{
  background-image: url(../img/ab3.png);
  background-size: cover;
}
.meetup .container-fluid {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  
}
.meetup .container-fluid .card {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 1em;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px #45454533;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
}
.meetup .container-fluid .card:hover{
  border: 3px solid #ffffff92;
  box-shadow: 0px 0px 50px #ffffff33;
}
.meetup .container-fluid .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;
  transition: 0.5s;
}
.meetup .container-fluid .card .content .img {
  position: relative;
  width: 300px;
  height: 180px;
  overflow: hidden;
}
.meetup .container-fluid .card .content .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.meetup .container-fluid .card .content .cardContent h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}
.meetup .container-fluid .card .content .cardContent h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
  
}
.meetup .container-fluid .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.meetup .container-fluid .card:hover .content {
  opacity: 1;
  
  transform: translateY(-20px);
}


#htl-trust-badge{
  display:block;
  max-width:100px;
  min-width:60px;
  position:fixed;
 
  top:0;
  width:10%;
  z-index:10000;
}
@media screen and (max-width:750px) {
  #htl-trust-badge{
    right:50px;
  }
  
}


/* Waves Animation start*/

.hero_area {
  position: relative;
}

.waves {
  position: absolute;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  bottom: 0;
  left: 0;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
      transform: translate3d(-90px, 0, 0);
  }

  100% {
      transform: translate3d(85px, 0, 0);
  }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
  .waves {
      height: 40px;
      min-height: 40px;
  }
}

/* Waves Animation end*/



